.format {
    margin: 10px 0px 10px 0px;
}

div {
    display: flex;
    flex-direction: column;
    margin: 10px; 
}

ion-input {
    border: 1px solid rgba($color: #000000, $alpha: .4);
    margin: 5px 0px 5px 0px;
}